<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- USB Host permissions -->
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    
    <!-- Additional permissions that might be needed -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application>
        <!-- No need for activity declaration in plugin library -->
    </application>
</manifest>
